/*
Theme Name: IS Theme
Author: Ivica Sertić
Author URI: http://ivica-sertic.from.hr
Description: Static page template
Version: 1.0
Text Domain: istheme
*/


* {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#wrapper {
	margin:0 auto;
	width: 800px;
}

#main {
	margin-top: 20px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#content {
	padding: 10px;
}

#header {
	padding: 20px;
	text-align: center;
}

#footer {
	padding: 20px;
	text-align: center;
}

.post {
	padding: 10px;
}

.post > .thumb {
	width: 180px;
	margin-right: 10px;
	float: left;
}

.thumb > img {
	border-radius: 5px;
}

.post > .title {
	width: 480px;
	float: left;
}

.pagination {
	text-align: center;
}