.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.wrapper {
	width:100%;
	border: 1px solid #ccc;
}

.display {
	height:35px;
	border: 1px solid #000;
	background-color: #b2f0d1;
	width:90%;
	margin: 10px 5% 10px 5%;
	color: #000;
	text-align: right;
	line-height: 35px;
	font-size: 17px;
	padding: 0 5px 0 5px;
	overflow: hidden;
}

.num-pad {
	margin-bottom: 5%;
}

.keys {
	width:90%;
	margin: 2px 5% 0px 5%;
}

.keys > span {
	margin: 1%;
	border:1px solid #ccc;
	color: #000;
	width: 23%;
	height: 35px;
	float: left;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.helper-pad {
	margin: 0px 5% 0px 5%;
	width: 90%;
}

.helper-pad > .clear {
	margin: 1%;
	border:1px solid #ccc;
	color: #fff;
	width: 23%;
	height: 35px;
	float: right;
	text-align: center;
	font-size: 12px;
	background-color: #c22e2e;
	line-height: 35px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.keys > .operation {
	background-color: #EBEFFF;
}

.keys > .equal {
	background-color: #FFFDD8;
}

.keys > span:active {
	background-color: #ddd;
}

.helper-pad >.clear:active {
	background-color: #9E2727;
}