<!-- Calculator widget view -->

<?php
	wp_enqueue_style('is-calculator-style'); 
	wp_enqueue_script('is-calculator-js'); 
?>

<div id="is-calc" class="widget">
	<h2 class="widget-title"><?php echo $title; ?></h2>
	<div class="wrapper">
		<div class="display"></div>
		<div class="num-pad">
			<div class="helper-pad clearfix">
				<span class="clear">C</span>
			</div>
			<div class="keys clearfix">
				<span>7</span>
				<span>8</span>
				<span>9</span>
				<span class="operation">/</span>			
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span class="operation">*</span>			
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span class="operation">+</span>			
				<span>0</span>
				<span>.</span>
				<span class="equal">=</span>
				<span class="operation">-</span>
			</div>
		</div>
	</div>	
</div>